.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 80px;
  max-width: 15%;
}

.App-header {
  background-color: #673AB7;
  margin: 0;
  max-height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
/*
  0% { transform: rotate(0deg); }
    30% {transform: scale(1.4);}
    50% {transform: scale(0.4)}
  100% { transform: rotate(480deg); }
*/
}

.App-logo-left{
  max-width: 35%;
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
  margin-top: 0;
}

.App-logo-right{
  max-width: 35%;
  margin-bottom: 8px;
  margin-left: 100px;
  margin-right: 52px;
  margin-top: 1px;
}

html {
  width: 100%;
  height: 100%;  
}

