.App {
  text-align: center;
}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 80px;
  max-width: 15%;
} */

.App-header {
  background-color: #673AB7;
  margin: 0;
  max-height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-logo{
  max-width: 25%;
  margin-bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.Well {
  maxWidth: 400;
  margin: '0 auto 10px';
}

RaisedButton{
  margin: 12;
}


html {
  width: 100%;
  height: 100%;
}

.HomeButton {
    margin-top: 20px;
    width: 100px;
}

.GuestButton {
    margin-left:10px;
}

.LoginButton {
    width: 123px;
}

.RegisterButton {
    margin-left: 10px;
    width: 123px;
}

.JoinButton {
    width:200px;
}

.CreateButton {
    position:absolute;
    margin-top: 28px;
    margin-left: 15px;
}

.SearchBar {
    margin-left: 88px;
}

.SearchButton {
    margin-top: 28px;
    margin-left: 15px;
    margin-right: -16px;
}
