RaisedButton {
  margin: 12;
  marginLeft: -20;
  height: 24;
  width: 24;
  padding: 20;
}

.Login{
  maxWidth: 400;
  margin: '0 auto 10px';
}

.SelectRoom {
  display: 'inline';
}

.Delete  {
  display: 'inline';
}
